*{
    border:  none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}



.carro{
    background-color: rgb(247, 255, 202);
    width: 100px;
    height: 40px;
    color: rgb(0, 30, 56);
    
    text-align: center;
}

.teste{
    background-color: rgb(0, 21, 83);
 /* padding: 5%; */
 display: flex;
 gap: 15vh;
 align-items: center;

}

