body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.lampadaLigada{
    width: 35vh;
    height: 30vh;
}
#lampadaDesligada{
    padding: 5vh;
    width: 20vh;
    height: 25vh;
}

.areaBotao > img{
    width:15vh;
     height:10vh;
}
.areaBotao > img:hover{
    width: 17vh;
    height: 12vh;
   
}